
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jellyfintv">

    <application
        android:label="Jellyfin TV"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
