body.android-tv {
    font-size: 1.1em;
    overscroll-behavior: none;
}

.android-tv .hide-on-tv {
    display: none !important;
}

.android-tv .tv-big {
    font-size: 1.3em;
}

.android-tv .navigation-item {
    padding: 1rem;
}